* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили для тела страницы */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Светло-серый фон */
}

/*NAVBAR*/

nav {
  margin-bottom: 30px;
  font-size: 20px;
}

/* Основные стили для навигационной панели */
.my-navbar {
  background-color: #E4E5E7; /* Ваш фон страницы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.nav-link {
  color: #6c757d; /* Серый цвет текста ссылок */
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #007bff; /* Синий цвет при наведении */
}

.nav-link.active {
  color: #007bff !important; /* Активная ссылка с синим цветом */
  font-weight: 600;
}


/*CONTENT*/


.container {
  max-width: 600px;
  margin: 0 auto;
}

/* Заголовки */
.display-4 {
  font-size: 2.5rem;
  color: #343a40; /* Темный цвет для контраста */
}

.h4 {
  font-size: 1.5rem;
  color: #6c757d; /* Серый цвет для подзаголовка */
}

/* Стили для списка задач */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавление тени */
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #dee2e6;
}

.empty-list {
  text-align: center;
  color: #6c757d; /* Серый текст */
}

.empty-list__title {
  margin-top: 10px;
  font-size: 1.2rem;
}

.none {
  display: none; /* Скрыть элемент */
}

/* Стили для формы */
.card-header {
  font-weight: bold;
  background-color: #007bff; /* Синий фон заголовка */
  color: white;
}

.card-body {
  background-color: #e9ecef; /* Светлый фон тела карточки */
}

.form-control {
  border-radius: 0.3rem;
  border: 2px solid #007bff;
}

.form-text {
  color: #6c757d;
  font-size: 0.875rem;
}

/* Кнопки */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-action {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-action img {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.btn-action img:hover {
  opacity: 1;
}

/* Завершенные задачи */
.task-title--done {
  text-decoration: line-through;
  color: #28a745; /* Зеленый цвет текста */
}
